@font-face {
  font-family: VCR OSD Mono;
  src: url("VCR_OSD_MONO_1.001.ttf") format("truetype");
}

#main {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#scorebar {
  width: 60%;
  border-collapse: collapse;
  border: 1px solid #353535;
}

body {
  background: linear-gradient(to right, #772edd, #cf2edd, #772edd);
}

p {
  font-family: sans-serif;
  font-size: 15px;
  color: #353535;
  text-align: center;
  margin: 5px 0px 5px 0px;
}

h1 {
  font-family: VCR OSD Mono, sans-serif;
  font-size: 50px;
  color: #353535;
  text-align: center;
  margin: 0px 0px 10px 0px;
}

h2 {
  font-family: VCR OSD Mono, sans-serif;
  font-size: 30px;
  color: #353535;
  text-align: center;
  margin: 10px 0px 5px 0px;
}

h3 {
  font-family: sans-serif;
  font-size: 15px;
  color: #353535;
  font-weight: bold;
  text-align: center;
  margin: 10px 0px 10px 0px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

td {
  font-family: sans-serif;
  font-size: 15px;
  color: #353535;
}

input[type="password"], input[type="email"] {
  background-color: #353535;
  padding: 2px;
  border: 2px solid #353535;
  font-family: sans-serif;
  font-size: 15px;
  color: #c4c4c4;
}

input[type="submit"] {
  background-color: #772edd;
  padding: 2px;
  border: 2px solid #772edd;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 15px;
  color: #353535;
}

input[type="submit"]:hover {
  background-color: #8533f7;
  border: 2px solid #8533f7;
}

input[type="submit"]:active {
  background-color: #6226b7;
  border: 2px solid #6226b7;
}

td.scoreblip {
  height: 20px;
  width: auto;
  border: 1px solid #353535;
}
