body {
  background: #98f9df;
  background: linear-gradient(to right, #98e3f9, #98f9df, #98e3f9);
}

td, input {
  font-family: sans-serif;
}

p, h1, h2 {
  text-align: center;
  font-family: sans-serif;
}

div.main {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  margin-left: auto;
  margin-right: auto;
}

table.scorebar {
  width: 40%;
  border-collapse: collapse;
  border: 1px solid #a5a5a5;
}

td.scoreblip {
  height: 20px;
  width: auto;
  border: 1px solid #a5a5a5;
}
